.custom-button {
    width: 250px;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #272826;
    color: white;
    border: none;
    margin:10px;
    border-radius: 5px;

    &:hover {
        background-color: white;
        color:#272826;
        border: 1px solid #272826;
        transition: 2s;
    } 
}