body {
  font-family: 'Nunito', sans-serif;
  
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, span, label {
  font-family: 'Libre Baskerville', serif;
}

p {
  font-family: 'Merriweather', serif;
  line-height: 200%;
}
